<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>WebProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<description>
		</description>
		<display-name>PartnerFilter</display-name>
		<filter-name>PartnerFilter</filter-name>
		<filter-class>com.svyatobatko.dimploma.filter.partner.PartnerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PartnerFilter</filter-name>
		<url-pattern>/PartnerFilter</url-pattern>
	</filter-mapping>
  <servlet>
  	<servlet-name>FirstClass</servlet-name>
  	<display-name>FirstClass</display-name>
  	<description></description>
  	<servlet-class>com.svyatobatko.FirstClass</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>GetComtrollerLogin</servlet-name>
  	<display-name>GetComtrollerLogin</display-name>
  	<description></description>
  	<servlet-class>com.svyatobatko.diploma.controller.login.GetComtrollerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>com.svyatobatko.dimploma.controller.test.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetUserController</servlet-name>
  	<display-name>GetUserController</display-name>
  	<description></description>
  	<servlet-class>com.svyatobatko.dimploma.controller.test.GetUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOrdersController</servlet-name>
  	<display-name>GetOrdersController</display-name>
  	<description></description>
  	<servlet-class>com.svyatobatko.dimploma.controller.orders.GetOrdersController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTourController</servlet-name>
  	<display-name>GetTourController</display-name>
  	<description></description>
  	<servlet-class>com.svyatobatko.dimploma.controller.tour.GetTourController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ErrorsServlet</display-name>
  	<servlet-name>ErrorsServlet</servlet-name>
  	<servlet-class>com.svyatobatko.dimploma.error.page.ErrorsServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>admin</display-name>
  	<servlet-name>admin</servlet-name>
  	<servlet-class>com.svyatobatko.diploma.controller.login.admin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Client</display-name>
  	<servlet-name>Client</servlet-name>
  	<servlet-class>com.svyatobatko.diploma.controller.login.Client</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogOut</display-name>
  	<servlet-name>LogOut</servlet-name>
  	<servlet-class>com.svyatobatko.diploma.controller.login.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SignUp</display-name>
  	<servlet-name>SignUp</servlet-name>
  	<servlet-class>com.svyatobatko.diploma.controller.sign.up.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterServlet</display-name>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.svyatobatko.dimploma.controller.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetLogin</display-name>
  	<servlet-name>GetLogin</servlet-name>
  	<servlet-class>com.svyatobatko.diploma.controller.login.GetLogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserServlet</display-name>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>com.svyatobatko.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TourServlet</display-name>
  	<servlet-name>TourServlet</servlet-name>
  	<servlet-class>com.svyatobatko.TourServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditUser</display-name>
  	<servlet-name>EditUser</servlet-name>
  	<servlet-class>com.svyatobatko.dimploma.controller.register.EditUser</servlet-class>
  </servlet>
 <servlet-mapping>
  	<servlet-name>GetComtrollerLogin</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>FirstClass</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetUserController</servlet-name>
  	<url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOrdersController</servlet-name>
  	<url-pattern>/GetOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTourController</servlet-name>
  	<url-pattern>/GetTour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorsServlet</servlet-name>
  	<url-pattern>/ErrorsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admin</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Client</servlet-name>
  	<url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/Sign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/signup2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetLogin</servlet-name>
  	<url-pattern>/GetLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TourServlet</servlet-name>
  	<url-pattern>/TourServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUser</servlet-name>
  	<url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <session-config>
  <session-timeout>15</session-timeout>
  </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorsServlet</location>
    </error-page>
</web-app>
